
/*Reset CSS = pour nous assurer d’avoir un affichage cohérent d’un navigateur à l’autre*/

/* --- RESET SIMPLE --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* --- HEADER --- */
header {
    background: #7a6d4e;
    color: #e0e0d5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
    transition: 0.3s;
}

nav ul li:hover {
    color: #f1c40f;
}

nav ul li a {
    text-decoration: none; /* enlève le souligné */
    color: #e0e0d5;        /* même couleur que ton header */
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #f1c40f;        /* couleur au survol */
}

/* --- SECTIONS --- */
main section {
    padding: 60px 20px;
    margin: 0;
    max-width: none;
    border-radius: 0; /*bord droits*/
}

/* --- BANNIÈRE --- */
#banner {
    text-align: center;
    background-image: url("./images/banniere.jpg");  /* Image de fond */
    background-size: cover;        /* L’image couvre toute la bannière */
    background-position: center;   /* L’image est centrée */
    background-repeat: no-repeat;  /* Pas de répétition */
    color: white;                  /* Garde le texte en blanc */
    /*padding: 100px 20px;*/           /* Hauteur de la bannière */
    height: 400px;
}

#banner h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

#banner p {
    font-size: 18px;
}

/* --- SECTION PRINCIPALE (2 BLOCS) --- */
#principal {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#principal div {
    text-align: center;
    background: #e0e0d5;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#principal img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* --- CONTACT --- */
#contact {
    text-align: center;
}

#contact form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

#contact input {
    padding: 12px;
    width: 250px;
    border: 1px solid #aaa;
    border-radius: 6px;
}



#contact button {
    padding: 12px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#contact button:hover {
    background: #1d6fa5;
}

/* --- FOOTER --- */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #2c3e50;
    color: white;
}

/* --- RESPONSIVE MOBILE --- */
@media (max-width: 768px) {
    #principal {
        flex-direction: column;
        width: 100%;
    }

    #principal div {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
